html, body, .wrapper {
	width: 100%;
	height: 100%;
	position: relative;
}
body {
	background: #eee;
}

header {
	@include clearfix;
	@include background-image(linear-gradient(#555, #121212));
}

footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: $footer-height;
	background: #222;
	color: #eee;
	> div {
		height: $footer-height;
		line-height: $footer-height;
		text-align: right;
	}
}

.content-width {
	width: $content-width;
	margin: auto;
}

nav {
	height: 42px;
	line-height: 42px;

	a {
		color: #eee;
		text-decoration: none;
		margin-right: $content-padding;
		&:hover {
			text-decoration: underline;
		}
	}

}

article {
	margin-top: $content-padding;
	padding: 0 $content-padding;
}

.article-header {
	font-size: 22px;
	padding: $content-padding 0;
}

.main-view {
	position: absolute;
	top: $header-height + $content-padding;
	bottom: $footer-height + $content-padding;
	left: 50%;
	margin-left: -$content-width / 2;
	background: #f5f5f5;
	@include border-radius (4px);
	overflow: auto;
}

.task-add {
	label {
		display: block;
		margin: 4px 0;
		height: $text-box-height + 8;
		line-height: $text-box-height + 8;
	}
}

.label-text {
	width: 150px;
	float: left;
}

.error {
	margin-left: $content-padding;
	color: red;
}

.text-box {
	height: $text-box-height;
	line-height: $text-box-height;
	padding: 0 4px;
	border: 1px solid #e5e5e5;
	@include border-radius(2px);
}



.task-list {
	li {
		line-height: 24px;
		height: 24px;
		border-bottom: 1px solid #666;
		padding: $content-padding 0;
		&.today {
			color: green;
		}
		&.upcoming {
			color: blue;
		}
		&.expired {
			color: red;
		}
		&.done {
			color: gray;
			text-decoration: line-through;
		}
	}
}

.pull-right {
	float: right;
}